@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap');

body {
    font-family: Roboto;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
}


.top {
    color: white;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 8px 32px 36px;
}

ul {
    list-style: none;
    display: flex;
    gap: 32px;
    margin-top: 32px;
}

li {
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: space-around;
   
}

.mtext {
    max-width: 400px;
}

.main {
    color: #F9FAF8;
    font-size: 42px;
    font-weight: 900;
    margin-top: 0;
    
}

.top-text {
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 600;
}
.content button {
    background-color: #3882f6;
    color: white;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
}

img {
    border-radius: 8px;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 64px;
    margin-bottom: 32px;
}

.title {
    text-align: center;
}

.text {
    font-size: 16px;
    font-weight: 600;
    color: black;
}

.destination {
    border: 4px solid black;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 52px 12px;
    background-color: lightgrey;
}

.reviews {
    max-width: 520px;
    font-size: 18px;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 52px 0px;
    
}

.banner {
    background-color: #3882f6;
    max-width: 1000px;
    display: flex;
    padding: 8px 72px;
    border-radius: 8px;
    align-items: center;

}
.trip {
    color: white;
    padding: 12px 36px;
}
.sign-up button {
    color: white;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 6px;
    padding: 4px 16px;
}
.newsletter {
    margin-top: 0px;
}
.book {
    margin-bottom: 2px;
}